In [1]:
import numpy as np
import matplotlib.pyplot as plt 
import pandas as pd
import re

# Data Preprocessing

Firstly we split x and y of location .

In [3]:
# at first we get the data set using pandas
Crime = pd.read_csv("Raw_Dataset.csv" , encoding='windows-1254')
new_dataset = pd.read_csv("new_dataset.csv" , encoding='windows-1254' )
Crime.head()

/tmp/ipykernel_12825/3928003056.py:2: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  Crime = pd.read_csv("Raw_Dataset.csv" , encoding='windows-1254')

,INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,SHOOTING,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,STREET,Lat,Long,Location
0,I182080058,2403,Disorderly Conduct,DISTURBING THE PEACE,E18,495,NaN,2018-10-03 20:13:00,2018,10,Wednesday,20,Part Two,ARLINGTON ST,42.262608,-71.121186,"(42.26260773, -71.12118637)"
1,I182080053,3201,Property Lost,PROPERTY - LOST,D14,795,NaN,2018-08-30 20:00:00,2018,8,Thursday,20,Part Three,ALLSTON ST,42.352111,-71.135311,"(42.35211146, -71.13531147)"
2,I182080052,2647,Other,THREATS TO DO BODILY HARM,B2,329,NaN,2018-10-03 19:20:00,2018,10,Wednesday,19,Part Two,DEVON ST,42.308126,-71.076930,"(42.30812619, -71.07692974)"
3,I182080051,413,Aggravated Assault,ASSAULT - AGGRAVATED - BATTERY,A1,92,NaN,2018-10-03 20:00:00,2018,10,Wednesday,20,Part One,CAMBRIDGE ST,42.359454,-71.059648,"(42.35945371, -71.05964817)"
4,I182080050,3122,Aircraft,AIRCRAFT INCIDENTS,A7,36,NaN,2018-10-03 20:49:00,2018,10,Wednesday,20,Part Three,PRESCOTT ST,42.375258,-71.024663,"(42.37525782, -71.02466343)"

In [4]:
new_dataset.head()

,Unnamed: 0,INCIDENT_NUMBER,OFFENSE_DESCRIPTION,DISTRICT,Date,DAY_OF_WEEK,Hour,Part One,Part Two,Part Three,X_Location,Y_Location
0,0,I182080058,disturbing the peace,E18,2018-10-03,Wednesday,20:13,0,1,0,42.2,71.1
1,1,I182080053,property-lost,D14,2018-08-30,Thursday,20:00,0,0,1,42.3,71.1
2,2,I182080052,threats to do bodily harm,B2,2018-10-03,Wednesday,19:20,0,1,0,42.3,71.0
3,3,I182080051,assault-aggravated-battery,A1,2018-10-03,Wednesday,20:00,1,0,0,42.3,71.0
4,4,I182080050,aircraft incidents,A7,2018-10-03,Wednesday,20:49,0,0,1,42.3,71.0

In [31]:
# here we work on locataion . we add two columns for location_x and location_y 
# first we
def remove(text) :
    xandy = []
    x = text
    y = re.findall(r'\d+\.\d', x)
    for i in y:
        xandy.append(i)
    return xandy[0] , xandy[1]

In [35]:
x = []
y = []

for item in range(len(Crime)) :
        x_location , y_location = remove(Crime['Location'][item])
        x.append(x_location)
        y.append(y_location)
        
new_dataset["X_Location"] = pd.DataFrame(x)
new_dataset["Y_Location"] = pd.DataFrame(y)

in this section we have to add other columns that dont need preprocessing 
here the features are "OFFENSE_CODE_GROUP" , "STREET" , "Lat" , "Long"

In [5]:


new_dataset["OFFENSE_CODE_GROUP"] = Crime["OFFENSE_CODE_GROUP"]

new_dataset["STREET"] = Crime["STREET"]

new_dataset["Lat"] = Crime["Lat"]

new_dataset["Long"] = Crime["Long"]

In [7]:
new_dataset.to_csv("new_dataset.csv")